
.loadingSpinner {
    width: 48px;
    height: 48px;
    border: 5px solid #1e1e1e;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: loadingAnim 1s linear infinite;
    margin: 2rem auto;
}


@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}